body {
  font-family: "Helvetica Neue", Helvetica, Times New Roman, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
[class*="col-"] {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
img {
	width: 100%;
}
.margin-text {
  float: left;
  margin-top: 5px;
}
.font-16 {
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
}
.font-14 {
  font-size: 14px;
  line-height: 1.1;
  font-weight: bold;
}
.container {
	padding:  0 0 15px 0;
}
a {
	color: #000;
}
a:hover {
	color: #0275d8;
	text-decoration: none;
}
.no-padding {
	padding: 0;
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}